{% extends 'base.html' %}

{% block content %}
<div class="centered-container">
    <div class="post">
        <p>{{ post.contents|linebreaksbr }}</p>  
        {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="投稿画像" style="max-width: 100%; height: auto;">
        {% endif %}
        <p style="text-align: right;">投稿者: {{ post.user.username }} | 投稿日: {{ post.created_at }}</p>

        {% if post.user == request.user %}
            <a href="{% url 'edit_post' post.id %}" class="comment-edit-button">投稿を編集</a>
        {% endif %}
    </div>

    <h3>コメント</h3>
    <hr>
    {% for comment in post.comments.all %}
        <div class="comment" style="margin-bottom: 20px;">
            <p style="text-align: left;">{{ comment.content|linebreaksbr }}</p>
            <div class="comment-details" style="display: flex; justify-content: space-between;">
                <span class="comment-author">{{ comment.user.username }}</span>
                <span class="comment-date">投稿日: {{ comment.created_at }}</span>
            </div>
            {% if comment.user == request.user %}
            <div style="text-align: right;">
                <a href="{% url 'edit_comment' comment.id %}" class="comment-edit-button">コメントを編集</a>
                <form method="POST" action="{% url 'delete_comment' comment.id %}" onsubmit="return confirm('本当にこのコメントを削除しますか？');" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="comment-delete-button">コメント削除</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% empty %}
        <p>コメントはまだありません。</p>
    {% endfor %}

    <h3>コメントを追加</h3>
    <form method="POST" action="{% url 'post_detail' post.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="comment-edit-button">コメントを追加</button>
    </form>

    <a href="{% url 'post_list' %}">投稿一覧に戻る</a>
</div>
{% endblock %}
